body {
    font-family: Arial, sans-serif;
    font-size: 18px;
}

header {
    background-color: #006633;
}

nav {
    background-color: #004d26;
}

main {
    background-color: #f2f2f2;
    font-size: 18px;
}

footer {
    background-color: #dddddd;
}

li {
    display: inline-block;
    width: 30%;
}

h1 {
    text-align: center;
    font-family: Arial, sans-serif;
    color: white;
}

p {
    line-height: 1.5;
}

nav a {
    color: white;
}

img {
    margin: 10px;
}
